.button {
  background-color: var(--white);
  border: none;
  color: var(--black);
  font: var(--button);
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  padding: var(--padding-button);
  border-radius: var(--border-button);
  text-align: center;
  transition: all 0.25s ease;
}
.button:hover {
  background-color: var(--white-hover);
}
.button--primary {
  background-color: var(--primary);
  color: var(--white);
}
.button--primary:hover {
  background-color: var(--primary-hover);
}
.button--secondary {
  background-color: var(--black);
  color: var(--white);
}
.button--secondary:hover {
  background-color: var(--black-hover);
}
.button--link {
  background-color: transparent;
}
.button--bordered {
  border: 1px solid var(--black);
}
