.card {
  display: flex;
  flex-direction: column;
}
.card__body {
  margin-block-start: var(--gap-1);
}
.card__title {
  font: var(--headingH5);
}
.card__description {
  margin-block-start: 8px;
}
@media screen and (min-width: 768px) {
  .card__img {
    min-block-size: var(--h-card-img);
    display: flex;
    align-items: center;
  }
}
