.wrapper {
  max-inline-size: 100%;
  padding-inline-start: var(--md);
  padding-inline-end: var(--md);
  margin-inline-start: auto;
  margin-inline-end: auto;
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-inline-size: 73rem;
  }
}
